/* Primary: #00afec */
body {
  font-family: Helvetica, Arial, sans-serif !important;
}

@media screen and (max-width: 480px) {
  .wrapper-table {
    width: 100%;
  }

  .footer .content-left,
  .footer .content-right {
    width: 100% !important;
    text-align: center;
  }
}
