/*
 * primary: #00aeef
 * secondary: #20bcb8
 *
 * black: #404041
 */

/* Resets */
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  color: #404041; /* primary copy color */
  background: #404041; /* primary copy color */
  font-family: Helvetica;
  font-weight: 300;
}

a {
  color: #00aeef;
  text-decoration: none;
}

.table {
  width: 50%;
}

/* Main table wrapper */

.wrapper-table {
  width: 100%;
}

.main-table {
  width: 800px;
  outline: 1px dashed blue;
}

/* Header section */
.header-row,
.footer-row {
  color: #ffffff;
  background: #404041;
}

.horizontal-header-gutter {
  height: 10px;
  background: #404041;
}

.vertical-header-gutter {
  width: 70px;
}

.header-contact-table {
  float: left;
  text-align: left;
  height: 65px;
}
.header-logo-table {
  float: right;
  text-align: right;
  height: 65px;
}

.header-logo-table img {
  width: 140px;
  height: auto;
}

/* Headshot section */
.headshot-table {
  float: left;
  width: 240px;
}


.headshot-image-wrapper {
  line-height: 0;
  font-size: 0;
}

.headshot-image-wrapper img {
  width: 240px;
  height: 300px;
}
.headshot-message-wrapper {
  height: 300px;
}

.headshot-message-table {
  background: #20bcb8;
}

.headshot-message {
  color: #ffffff !important;
}

.headshot-message-gutter {
  width: 40px;
}
/* main content section */
.main-content-horizontal-gutter {
  height: 50px;
}

.main-content-vertical-gutter {
  width: 60px;
}

.main-content-table-left {
  float: left;
}
.main-content-table-right {
  float: right;
}

/* Footer section */

.footer-row table {
  height: 75px;
}

.footer-contact-table,
.footer-logo-table {
  width: 50%;
}

.footer-contact-table {
  float: left;
}
.footer-logo-table {
  float: right;
  text-align: right;
}

.horizontal-footer-gutter {
  height: 20px;
  background-color: #404041;
}

.vertical-footer-gutter {
  width: 70px;
}

/* Media Queries for Mobile */
@media only screen and (max-device-width: 480px) {
  .table {
    display: block;
    width: 100%;
  }
  .main-content-vertical-gutter,
  .vertical-footer-gutter {
    width: 25px;
  }
}

@media only screen and (max-device-width: 768px) {
 /* gutter */
  .vertical-header-gutter {
    width: 0;
  }
}
